html, body{
    height:100%;
    width:100%;
}

@font-face {
    font-family: 'formula1display-regular';
    src: url('formula1-regular-webfont.woff2') format('woff2'),
         url('formula1-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --color1: #252525;
    --color2: #ff0000;
    --color3: #af0404;
    --color4: #414141;
}

body{
    background-color: var(--color4);
    font-family: 'formula1display-regular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top:0;
    width:100%;
    height: 100px;
    background-color:#6b6b6b;

    display: flex;
    align-items: center;
}

header > img{
    height: 90px;
}
header > h1{
    font-size: 40px;
}

main{
    background-color:var(--color1);
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    padding:20px;
}

#current_track{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#track_map{
    background-color:#313131;
    width: 60%;
}

#track_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;    
}
#track_text > h1{
    font-size:1.3rem;
    margin:25px 10px;
}


#tracks{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.track_logo{
    height:40px;
    width:40px;
    margin:10px;
    border-radius: 50%;
    border: solid 4px transparent;
}

#generate{
    margin:20px 0px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    outline:none;
    border:none;
    background-color:var(--color2);
    color:black;
    font-family: 'formula1display-regular';
}
#generate:hover{
    border:solid 2px #af0404;
}

.selected{
    border: solid var(--color2) 4px;
}